:root {
    --main: rgba(68, 105, 191, 1);
    --main-lighter: rgba(68, 105, 191, 0.6);
    --secondary: rgba(209, 217, 221, 1);
    --secondary-lighter: rgba(209, 217, 221, 0.6);
    --content: rgba(47, 50, 51, 1);
    --content-lighter: rgba(47, 50, 51, 0.6);

    --field-height: 25px;
    --field-height-part: 12.5px;
    --field-height-part-other: -12.5px;
    --field-width: 200px;
}

#status-bar {
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background: var(--main);
}
#status-bar .button {
    background-color: var(--secondary-lighter);
    color: var(--content);
}

.card-image {
    height: 35vh;
}

.card-main-flex {
    padding: 10px;
}

.card-left-flex {
    flex-flow: column;
    align-items: end;
    padding: 10px;
    width: 30vw;
}

.card-middle-flex {
    flex-flow: column;
}

.composite-field {
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.mana-ico {
    height: 15px;
}

.selection-section {
    display: flex;
    height: 30vh;
}

HomeView {
    display: flex;
    flex-direction: column;
    height: 68vh;
}

SetSelector {
    display: flex;
    flex-flow: column;
    width: 20vw;
    margin: auto;
}

CardsTable {
    width: 78vw;
    margin: auto;
}

CardViewer {
    height: 60vh;
    width: 100vw;
    margin: auto 0;
}

.title {
    text-align: center;
}

.shaped-field {
    width: var(--field-width);
    height: var(--field-height);
    position: relative;
    text-align: center;
    margin: 3px;
    background: var(--main-lighter);
}

.shaped-field:after {
    content: "";
    position: absolute;
    left: var(--field-height-part-other);
    bottom: 0;
    width: 0;
    height: 0;
    border-right: var(--field-height-part) solid var(--main-lighter);
    border-top: var(--field-height-part) solid transparent;
    border-bottom: var(--field-height-part) solid transparent;
}

.shaped-field:before {
    content: "";
    position: absolute;
    right: var(--field-height-part-other);
    bottom: 0;
    width: 0;
    height: 0;
    border-left: var(--field-height-part) solid var(--main-lighter);
    border-top: var(--field-height-part) solid transparent;
    border-bottom: var(--field-height-part) solid transparent;
}
