<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">

<dom-module id="character-sheet">
    <template>
        <style>
            #character-front {
                font-family: caslonAntique;
            }

            #character-front img {
                position: absolute;
                width: 884px;
                height: 1208px;
                font-size: 14pt;
            }
            #character-front #name {
                position: absolute;
                margin: 30px 0 0 32px;
                width: 200px;
            }
        </style>

        <div id="character-front">
            <img src="images/sheet_a.png" on-click="onSave">
            <vaadin-text-field class="cs-text-field" id="name" name="name" value="{{name}}"/>
            <vaadin-combo-box class="cs-combo-box" id="race" name="race" value="{{race}}"/>
        </div>
    </template>

    <script>
        class CharacterSheet extends Polymer.Element {
            static get is() {
                return 'character-sheet'
            }
        }

        window.customElements.define(CharacterSheet.is, CharacterSheet)
    </script>
</dom-module>